<!DOCTYPE html>
<html lang="en-CA">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="NAGHEDI Immigration Inc. is a Calgary-based company providing specialized Canadian immigration and citizenship services.">
  <link rel="preconnect" href="https://images.squarespace-cdn.com">
  <link rel="preconnect" href="https://static1.squarespace.com">
  <link rel="preconnect" href="https://use.typekit.net">
  <link rel="stylesheet" href="https://static1.squarespace.com/static/versioned-site-css/6593abc53b38c97cdaf5a338/56/5c5a519771c10ba3470d8101/6593abc53b38c97cdaf5a343/1597/site.css">
  <link rel="stylesheet" href="https://static1.squarespace.com/static/vta/5c5a519771c10ba3470d8101/versioned-assets/1734634171682-RZF6JR6GWSGG409XDSTH/static.css">
  <link rel="stylesheet" href="{{ "css/override.css" | absURL }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,400;0,8..60,600;0,8..60,700;1,8..60,400&display=swap" rel="stylesheet">
  <script src="https://use.typekit.net/ik/dx2W-9ohBe9X7GGJ0051O-H76Wpb1j_sonOCDFGzlabfeCJgfFHN4UJLFRbh52jhWDju5QFyjcwuwhJD5ewoFhFqjAjujQwD5gGMJ6lzS1gGZWmDOWgkdkJZdcmuZPuGjABDOAikdas8ShClZe8DSeUypPGHf50rMsMMeMb6MKGHf5crMsMMeMS6MKGHf57rMsMMeMt6MKGHfw-XMyMgeMb6MKGHfwKXMyMgeM96MKGHfwkXMyMgeMS6MKGHfwpXMyMgeMt6MKGHfwcXMyMgeMv6MKGHfwhXMyMgegI6MTMg_5AyCbj.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body class="primary-button-style-solid primary-button-shape-pill secondary-button-style-solid secondary-button-shape-pill form-field-style-solid form-field-shape-square header-overlay-alignment-center header-width-inset tweak-transparent-header tweak-fixed-header-style-basic tweak-global-animations-animation-style-fade tweak-global-animations-animation-type-none collection-type-page collection-layout-default homepage mobile-style-available sqs-seven-one">
  <div id="siteWrapper" class="clearfix site-wrapper">
    {{ partial "header.html" . }}
    <main id="page" class="container" role="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
  </div>
  <script src="{{ "js/main.js" | absURL }}" defer></script>
</body>
</html>
